.none{
    display: none;
 }
 .fileImage{
    width: calc(51px * 0.32);
    height: calc(51px * 0.32);
    transform: translateY(2px);
 }
 .labelImages{
    display: flex;
    
 }
 .MainLabel{
    display: flex;
    gap: calc(17px * 0.32);
    align-items: center;
    flex-grow: 1;
 }
 .ActiveMainLabel{
    max-width: 100%;
    border-radius: 15px;
    background: rgb(34, 61, 82);
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(24px * 0.32);
    width: 100%;
    height: 100%;
    text-align: center;
    min-height: calc(310px* 0.32);
 }
 .ActiveMainLabel p {
    text-align: center;
 }
 .labelImages img{
    max-width: 30%;

 }
.FileInput{
    padding: calc(36px * .367) calc(50px * 0.32);
    border-radius:calc(30px * 0.32) ;
    background: rgb(32, 48, 63);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    flex-wrap: wrap;
}
.FileInput p {
    color: rgb(218, 245, 254);
    font-family: "SF Pro Display 400";
    font-size: calc(50px *  0.32);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1%;
    text-align: left;
}
.imageFeet{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;

}
.ActiveMainLabel p {
    text-align: center;
 }
 .removeIcon{
    width: calc(45px * 0.32);
    height: calc(52px * 0.32);
    right: calc(20px * 0.32);
    top: calc(15px * 0.32);
    position: absolute;
 }
 .imageFeetContainer{
    position: relative;
 }