.Switcher{
    width: calc(153px * 0.2);
    height: calc(93px * 0.2);
    border-radius: calc(46px * 0.2);
    border-radius: calc(46.5px * 0.2);
    background: rgb(99, 98, 103);
    position: relative;
    transition: 0.2s;
    cursor: pointer;
    /* background: rgb(45, 200, 83); */
}
.Switcher.active{
    background: rgb(45, 200, 83); 
}
.circle {
    position: absolute;
    transition: 0.3s;
    width: calc(78px * 0.2);
    height: calc(78px * 0.2);
    border-radius: 50%;
    background: white;
    left: 3px;
    bottom:3px;

}
.circle.active{
    left: unset;
    left: calc(100% - 32px);

}
