.Categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: calc(36px * 0.2) calc(49px * 0.2);
    border-radius: calc(30px * 0.2);
    background: rgb(32, 48, 63);
    gap: calc(74px * 0.2);
    position: relative;
}
.Categories__block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Categories__block p{
    /* Camption Regular */
    color: rgb(255, 255, 255);
    font-family: "SF Pro Display 400";
    font-size: calc(50px *  0.2);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1%;
    text-align: left;
}
.Categories__block  .Category__link{
    color: rgb(46, 165, 255);
    font-family: "SF Pro Display 400";
    font-size: calc(52px * 0.2);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1%;
    text-align: right;
}


.line{
    position: absolute;
    background: rgb(60, 61, 63);
    width: 95%;
    height: 1px;
    right:   0;
    top: calc(50% - 1px);
}
