.AdCreating{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: calc(70px * 0.32);
}
.Cap {
    margin-top: calc(70px * 0.32);
    margin-left: calc(48px * 0.32);
    margin-right: calc(23px * 0.32);
}
.Categories{
    margin-top: calc(23px *  0.32);
}
.DescriptionAndPhoto{
    display: flex;
    flex-direction: column;
    margin-top: calc(90px * 0.32);
    gap: calc(24px * 0.32);
}
.MakePrivate{
    margin-top: calc(100px * 0.32);
}
.CapText{
    color: rgb(255, 255, 255);
    font-family: "SF Pro Display";
    font-size: calc(53px * 0.32) ;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0%;
    text-align: left;
}