.GreyText{
    /* Default text CAPS */
    color: rgb(132, 137, 143);
    font-family: "SF Pro Display 400";
    font-size: calc(40px * 0.325);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2%;
    text-align: left;
    text-transform: uppercase;
}